In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [4]:
i = 0
while i <= 5:
  print(i)
  i =i+ 1

0
1
2
3
4
5

In [5]:
a=10
b=5
if a>b:
    print("a is greater than b")

a is greater than b

In [12]:
a=5.0
b="Dona"
c = True
print(type(c))
print(a)
print(type(a))
print(b)
print(type(b))

<class 'bool'>
5.0
<class 'float'>
Dona
<class 'str'>

In [17]:
d = 1j
e = None
print(e)
print(type(e))
print(d)
print(type(d))

None
<class 'NoneType'>
1j
<class 'complex'>

In [28]:
Cars =["Honda","BMW","Benz","Maruthi","Honda"]
print(Cars)
print(type(Cars))
print(Cars[1])
print(Cars[0:2])
Cars.append("mercedes")
print(Cars)

['Honda', 'BMW', 'Benz', 'Maruthi', 'Honda']
<class 'list'>
BMW
['Honda', 'BMW']
['Honda', 'BMW', 'Benz', 'Maruthi', 'Honda', 'mercedes']

In [40]:
cars={"Honda","BMW","Benz","Maruthi","Honda"}
print(cars)

{'Maruthi', 'BMW', 'Benz', 'Honda'}

In [34]:
cars =("Honda","BMW","Benz")
print(cars)
print(type(cars))
print(cars[0])

('Honda', 'BMW', 'Benz')
<class 'tuple'>
Honda

In [37]:
cars = {1,5,10,4,3,11,9,2,20,5}
print(cars)
print(type(cars))

{1, 2, 3, 4, 5, 9, 10, 11, 20}
<class 'set'>

In [43]:
fruits = {"tropical": ["apple","grapes","orange"],
         "rate":["150","80","70"]}
print(fruits)
print(type(fruits))
print(fruits(tropical))

{'tropical': ['apple', 'grapes', 'orange'], 'rate': ['150', '80', '70']}
<class 'dict'>

NameError: name 'Tropical' is not defined

In [4]:
a=int(input("Enter 1st number"))
b=int(input("Enetr 2nd number"))
sum=a+b
sub=a-b
mul=a*b
div=a/b
print(sum)
print(sub)
print(mul)
print(div)

Enter 1st number12
Enetr 2nd number10
22
2
120
1.2

In [12]:
a=int(input("Enter 1st number:"))
b=int(input("Enter 2nd number:"))
c=input("enter 1.add,2.sub,3.mul,4.div")
if(c=="1"):
    print("add",int(a+b))
elif(c=="2"):
    print("sub",a-b)
elif(c=="3"):
    print("mul",a*b)
elif(c=="4"):
    print("div",a/b)
else:
    print("invalid error")

Enter 1st number:2
Enter 2nd number:4
enter 1.add,2.sub,3.mul,4.div2
sub -2

In [16]:
import random

print(random.randrange(1, 10))

5

In [20]:
import random
print(random.randrange(1,60))

12

In [22]:
name = "Dona Thomas"
for x in name:
    print(x)

D
o
n
a

T
h
o
m
a
s

In [26]:
a = "Dona Thomas"
print(a[0:5])

Dona

In [33]:
a = "Dona Thomas"
print(name[0:])
print("Dona"  in name)

Dona Thomas
True

In [34]:
b = "Dona Thomas"
print(b[-5:-2])

hom

In [35]:
a = "dona thomas"
print(a.upper())

DONA THOMAS

In [37]:
a = "DONA THOMAS"
print(a.lower())

dona thomas

In [38]:
a = " dona thomas "
print(a.strip())

dona thomas

In [39]:
name ="dona thomas"
print(name.split(","))

['dona thomas']

In [41]:
a = "1"
b = "2"
c = a + b
print(c)

12

In [1]:
listA = ["apple","orange","banana"]
print(listA)

['apple', 'orange', 'banana']

In [2]:
listA = ["apple","orange","banana"]
print(len(listA))

3

In [5]:
listA = ["apple", "banana", "cherry"]
listA.append("orange")
print(listA)
listA = [1:4]

SyntaxError: invalid syntax (Temp/ipykernel_5588/1757716168.py, line 4)

In [4]:
listA = [1:4]

SyntaxError: invalid syntax (Temp/ipykernel_5588/2628875207.py, line 1)

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "blackcurrant"
print(thislist)

['apple', 'b', 'l', 'a', 'c', 'k', 'c', 'u', 'r', 'r', 'a', 'n', 't', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [15]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [12]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [16]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [18]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [19]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [21]:
listA = ["a","b","c","d","e","f","g","h"]
i=0
while i < len(listA):
    print(listA[i])
    i=i+1

a
b
c
d
e
f
g
h

In [23]:
listA = ["a","b","c","d","e","f"]
[print(x) for x in listA]

a
b
c
d
e
f

[None, None, None, None, None, None]

In [24]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [25]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [26]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [27]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [30]:
def my_function():
    print("Helloooooo")
my_function()

Helloooooo

In [31]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Dona", "Thomas")

Dona Thomas

In [33]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Mini", "Thomas", "Dias")

The youngest child is Dias

In [35]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [36]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [37]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [1]:
def my_function():
    print("Hello the function")
    
my_function()

Hello the function

In [2]:
def my_function(x):
    return 5 * x
print(my_function(3))

15

In [3]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [4]:
thislist = ["banana","apple","orange"]
thislist.sort()
print(thislist)

['apple', 'banana', 'orange']

In [5]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [6]:
thislist = ["banana","apple","orange"]
mylist = thislist.copy()
print(mylist)

['banana', 'apple', 'orange']

In [9]:
thislist = ["a","z","o","b"]
mylist = thislist.copy()
print(mylist)

['a', 'z', 'o', 'b']

In [14]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)
list3.count("a")

['a', 'b', 'c', 1, 2, 3]

1

In [15]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [7]:
thisdict = {
    "Name": "dona",
    "course": "MCA",
    "year": 2022,
    "name":"Fathima"
}
print(thisdict)
print(len(thisdict))

{'Name': 'dona', 'course': 'MCA', 'year': 2022, 'name': 'Fathima'}
4

In [26]:
cars ={
    "brand": ["ford","nissan","suzuki","honda"],
    "model": ["mustang","micra","waganor","amaze"],
    "price": [500000,600000,400000,500000]
}
print(cars)
x = cars["model"]
print(x)
x = cars.values()
print(x)
x = cars.keys()
print(x)
if "price" in cars:
  print("Yes, 'price' is one of the keys in the thisdict dictionary")
else :
    print("no,'price' is not an key")

{'brand': ['ford', 'nissan', 'suzuki', 'honda'], 'model': ['mustang', 'micra', 'waganor', 'amaze'], 'price': [500000, 600000, 400000, 500000]}
['mustang', 'micra', 'waganor', 'amaze']
dict_values([['ford', 'nissan', 'suzuki', 'honda'], ['mustang', 'micra', 'waganor', 'amaze'], [500000, 600000, 400000, 500000]])
dict_keys(['brand', 'model', 'price'])
Yes, 'price' is one of the keys in the thisdict dictionary

In [34]:
this ={
    
    "name":["dona","doney","fathima"],
    "fruits":{"apple","banana","orange"},
    "cars":("BMW","BENZ","HONDA")
    
    
}
print(this)

{'name': ['dona', 'doney', 'fathima'], 'fruits': {'apple', 'orange', 'banana'}, 'cars': ('BMW', 'BENZ', 'HONDA')}

In [39]:
name ={
    "name":('dona'),
    "age":[22],
    "address":('street','pin'),
    "height":[155.7,5],
    "range-of-age":range(20-30),
    "Eligible":True
    
    
}
print(name)

{'name': 'dona', 'age': [22], 'address': ('street', 'pin'), 'height': [155.7, 5], 'range-of-age': range(0, -10), 'Eligible': True}

In [62]:
cars ={
    "brand": ["ford","nissan","suzuki","honda"],
    "model": ["mustang","micra","waganor","amaze"],
    "price": [500000,650000,450000,500000]
}
cars["price"][0]=750000

In [49]:
cars

{'brand': ['ford', 'nissan', 'suzuki', 'honda'],
 'model': ['mustang', 'micra', 'waganor', 'amaze'],
 'price': [750000, 650000, 450000, 500000]}

In [50]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
thisdict

{'brand': 'Ford', 'year': 1964}

In [63]:
for x in cars.keys():
    print(x)

brand
model
price

In [64]:
for x in cars.values():
    print(x)

['ford', 'nissan', 'suzuki', 'honda']
['mustang', 'micra', 'waganor', 'amaze']
[750000, 650000, 450000, 500000]

In [66]:
family = {
  "child1" : {
    "name" : "dona",
    "year" : 2001
  },
  "child2" : {
    "name" : "dias",
    "year" : 2002
  },
  "child3" : {
    "name" : "don",
    "year" : 2011
  }
}
family

{'child1': {'name': 'dona', 'year': 2001},
 'child2': {'name': 'dias', 'year': 2002},
 'child3': {'name': 'don', 'year': 2011}}

In [ ]:
i = 1
while i < 5:
    print(i)
    i +=1

In [ ]:
i = 1
while i < 5:
    print(i)
    i += 1

In [ ]:
i = 0
while i < 6:
i += 1
  if i == 3:
    continue
    print(i)

In [ ]:
for x in range(6):
    print(x)